.autocomplete {
  position: relative;
}

.options {
  width: 100%;
  z-index: 10;
  color: black;
  position: absolute;
  border-radius: 2px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.option {
  padding: 8px;
}

.option:hover {
  background-color: #EBEBEB;
}
